.ant-carousel .slick-slide {
  text-align: center;
  height: 2.6rem;
  line-height: 2.6rem;
  background: #364d79;
  overflow: hidden;
}

.img {
  height: 2.6rem !important;
  img {
    height: 2.6rem !important;
  }
}
